.logo{
    width: 60px;
    animation: circle 9s infinite linear;
}
@keyframes circle {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

*{
    font-family: 'poppins';
}
.top-header{
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.banner {
    background-image: linear-gradient(#00000000, rgb(0, 0, 0)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-content h1{
    font-size: 48px;
    color: #fff;
}
.down-arrow{
    animation: updown .9s infinite linear;
    animation-direction: alternate;
    transition: .4s all;
    position: absolute;
    top: 86%;
    left: 50%;

}
@keyframes updown{
    0%{
        top: 78%;
    } 
    100%{
        top: 88%;
    }
}

.logo-text{
    margin-left: 15px;
    color: #fff;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
}
.logo_anchor{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.nav-link{
    color: #fff;
    font-size: 18px;
    margin: 0 15px;
}
.nav-link:hover{
    color: #fff;
}
.nav-link:focus{
    color: #fff;
}
.card-img-container{
    text-align: center;
}
.card-img{
    width: fit-content;
    margin: 15px 0;
    transition: .4s all ease-in-out;
}
.card-img:hover{
    transform: scale(1.2);
}
.features_card{
    text-align: center;
    border: 1px solid rgb(52, 192, 131);
    padding: 30px;
    border-radius: 30px 0 30px 0;
}
.delivery_icon{
    font-size: 30px;
    color: rgb(52, 192, 131);
}
.products_carousel {
    background-image: linear-gradient(#000000ac, rgb(0, 0, 0)), url(../images/product-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.shop_button{
    padding: 14px 40px;
    border: 1px solid rgb(52, 192, 131);
    background-color: rgb(52, 192, 131);
    border-radius: 30px 0 30px 0;
    color: #fff;
    transition: .4s all;
}
.shop_button:hover{
    background-color: transparent;
    border: 1px solid rgb(52, 192, 131);
    color: rgb(52, 192, 131);
}

.max-container{
    max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px grey;  */
    background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
  }